{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="Legit Crew, https://www.devme.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} | {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{% static 'manager/assets/images/logos/logo.jpg' %}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{% static 'manager/assets/images/logos/logo.jpg' %}" type="image/x-icon">
    <link rel="mask-icon" href="{% static 'manager/assets/images/logos/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="manifest" href="{% static 'manager/assets/images/logos/site.html' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/css/font-awesome.min.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/charts-c3/plugin.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/morrisjs/morris.min.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/assets/css/style.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'manager/assets/css/custom.css' %}"> 
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/jquery-spinner/css/bootstrap-spinner.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/bootstrap-select/css/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/nouislider/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/jquery-steps/jquery.steps.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/plugins/fullcalendar/fullcalendar.min.css' %}">
    <style>
        .bootstrap-select.form-control:not([class*="col-"])
        {
            width:28%;
            text-align: left !important;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
         #leftsidebar
        {
            background:#000 !important;
            /*background-image: url("{% static 'manager/assets/images/bg.jpg' %}");
            background-repeat:no-repeat;
            background-position: center;
            background-size: cover;*/
            color: #fff;
        }
        .copy-button:hover
        {
            color:#222342 !important;
            cursor:pointer;
        }
        #id_mobile_phone_1,#id_phone_1
        {
            width:70%;
            float:right;
        }
    </style>
</head>
<body class="theme-blush">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'manager/assets/images/loader.svg' %}" width="48" height="48" alt="{{site_name}}"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form action="" class="form-inline searchForm">
            <input type="search" name="search" placeholder="Search all records..." required>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Right Icon menu Sidebar -->
    <div class="navbar-right">
        <ul class="navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0);" class="mega-menu dropdown-toggle" title="App" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
                <ul class="dropdown-menu slideUp2">
                    <li class="header">App Shortcut</li>
                    <li class="body">
                        <ul class="menu app_sortcut list-unstyled">
                            <li>
                                <a href="{% url 'stats' %}">
                                    <div class="icon-circle mb-2 bg-red"><i class="zmdi zmdi-tag"></i></div>
                                    <p class="mb-0">stats</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings"></i></a></li>
        </ul>
    </div>


    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
            <button class="btn-menu ls-toggle-btn" style="color:#fff" type="button"><i class="zmdi zmdi-menu"></i></button>
            <a  href="{% url 'dashboard' %}">
                <h4 class="text-capitalize text-light"><b>{{obj.site_name}}</b></h4>
            </a>
        </div>
        <div class="menu">
            <ul class="list">
                <li class=""><a href="{% url 'dashboard' %}"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                <li class=""><a href="{% url 'stats' %}"><i class="zmdi zmdi-gesture"></i><span>Stats</span></a></li>
                {% if request.user.is_authenticated %}
                <li class=""><a href="{% url 'logout' %}"><i class="zmdi zmdi-power"></i><span>Logout</span></a></li>
                {% endif %}
                <li class="d-md-none d-block"><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings "></i><span>Settings</span></a></li>
                <div class="progress-container progress-primary d-md-block d-none user-pallate" style="margin-top:28%">
                    <h4>{% now "l" %}</h4>
                    <h1>
                        <script>
                                var time=new Date(),
                                output=time.toLocaleString('en-US',{hour:'numeric',minute:'numeric',hour12:true,timeZone:'America/Los_Angeles'});
                                document.write(output);
                        </script>
                    </h1>
                    <h4>{% now "jS F Y " %}</h4>
                </div>
            </li>
            </ul>
            
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs sm">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Theme Option</h6>
                        <div class="light_dark">
                            <div class="radio">
                                <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                <label for="lighttheme">Light Mode</label>
                            </div>
                            <div class="radio mb-0">
                                <input type="radio" name="radio1" id="darktheme" value="dark">
                                <label for="darktheme">Dark Mode</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h6>Color Skins</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple"><div class="purple"></div></li>
                            <li data-theme="blue"><div class="blue"></div></li>
                            <li data-theme="cyan"><div class="cyan"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange"><div class="orange"></div></li>
                            <li data-theme="blush" class="active"><div class="blush"></div></li>
                        </ul>                                        
                    </div>               
                </div>                
            </div>       
        </div>
    </aside>
    {% block body %}

    {% endblock %}
     <!-- Small Modal -->
     <div class="modal fade small-model bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="mySmallModalLabel">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                user added successfully
            </div>
        </div>
        </div>
    </div>

     <!-- delete Modal -->
     <div class="modal fade delete-model bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="mySmallModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
               
            </div>
        </div>
        </div>
    </div>

     <!-- select Modal -->
     <div class="modal fade select-model bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="mySmallModalLabel">Select item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                <label for="">Please select an item</label>
                {{form.status}}
               </div>
            </div>
        </div>
        </div>
    </div>
    <script src="{% static 'manager/assets/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/libscripts.bundle.js' %}"></script>
    <script src="{% static 'manager/assets/js/vendorscripts.bundle.js' %}"></script>
    <script src="{% static 'manager/assets/bundles/mainscripts.bundle.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/momentjs/moment.js' %}"></script> <!-- Moment Plugin Js --> 
    <script src="{% static 'manager/assets/js/pages/forms/basic-form-elements.js' %}"></script>
    <script src="{% static 'manager/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-validation/jquery.validate.js' %}"></script> <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'manager/assets/plugins/jquery-steps/jquery.steps.js' %}"></script> <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'manager/assets/js/pages/forms/form-wizard.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/select2/select2.min.js' %}"></script> <!-- Select2 Js -->
    <script src="{% static 'manager/assets/js/pages/forms/advanced-form-elements.js' %}"></script> 
    <script src="{% static 'manager/assets/js/custom.js' %}"></script>
    <script src="{% static 'manager/assets/js/fileuploader.js' %}"></script>
    <script src="{% static 'manager/assets/js/clipboard.min.js' %}"></script>
    <script src="{% static 'manager/assets/bundles/datatablescripts.bundle.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
    <script src="{% static 'manager/assets/plugins/jquery-datatable/buttons/buttons.print.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/pages/tables/jquery-datatable.js' %}"></script>
    <script>
        var copy=new ClipboardJS('.copy-button');
        copy.on('success',function(e)
        {
            alert('link copied.');
        });
    </script>
</body>
</html>
