{% extends 'manager/login_layout.html' %} {% load static %} {% block body %}
<div class="authentication">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-10 mx-auto text-center">
        <form class="card auth_form" method="post">
          {% csrf_token %}
          <div class="header" style="color: #fff">
            <img
              class="logo"
              src="{% static 'admino/assets/images/loader.gif' %}"
              data-src="{% static 'admino/assets/images/logos/armlogi-logo-removebg-preview.svg' %}"
              alt="{{site_name}} logo"
            />
            <h5>Forgot Password?</h5>
            <span>Enter your e-mail address below to reset your password.</span>
          </div>
          <div class="body">
            <label for="" class="float-left">Email address</label>
            <div class="form-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="text-light zmdi zmdi-email"></i
                ></span>
              </div>
              <input
                type="text"
                name="email"
                class="form-control {% if form.email.errors %} is-invalid {% else %}''{% endif %}"
                placeholder="Enter Email"
              />
            </div>
            {% if form.email.errors %}
            <div class="text-danger float-left pb-3" style="margin-top: -10px">
              <i class="fa fa-exlamation-circle"></i>
              {{form.email.errors.as_text}}
            </div>
            {% endif %}
            <div class="mt-4">
              <button
                class="btn btn-primary btn-block waves-effect waves-light auth-btn"
              >
                SUBMIT
              </button>
            </div>
            <div class="signin_with mt-3">
              <a href="javascript:void(0);" class="link" style="color: #fff"
                >Need Help?</a
              >
            </div>
          </div>
        </form>
        <div class="copyright text-center">
          <span
            >&copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            ,</span
          >
          <span
            ><a class="page-refresher" target="_self" href="/"
              >{{obj.site_name}}</a
            >,Designed and coded by
            <a target="_blank" href="{{designer_link}}"
              >{{designer_name}}</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
