{% extends 'manager/login_layout.html' %} {% load static %} {% block body %}
<div class="authentication">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-10 mx-auto text-center">
        <form
          action="{% url 'manager dashboard' %}"
          method="post"
          class="card auth_form myForm"
          novalidate
        >
          <div class="header" style="color: #fff">
            <h1 class="text-capitalize text-light"><b>{{obj.site_name}}</b></h1>
            <h5>Password reset link sent!</h5>
          </div>
          <div class="body">
            <p class="text-center">
              We’ve emailed you instructions for setting your password, <br />if
              an account exists with the email you entered. You should receive
              them shortly. <br />If you don’t receive an email, please make
              sure you’ve entered the address you registered with, and check
              your spam folder.
            </p>
          </div>
        </form>

        <div class="copyright text-center">
          <span>
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            ,</span
          >
          <span
            ><a class="page-refresher" target="_self" href="/"
              >{{obj.site_name}}</a
            >,Designed and coded by
            <a target="_blank" href="{{designer_link}}"
              >{{designer_name}}</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
